<div class="wrapper">
<button (click)=showPokemon()>show me the money</button>
   
    <h3>Name: {{my_data1.name}}</h3>
    <img src="{{my_data1.sprites.front_default}}">
   
    <h3>Name: {{my_data2.name}}</h3>
    <img src="{{my_data2.sprites.front_default}}">
    <h3>Name: {{my_data3.name}}</h3>
    <img src="{{my_data3.sprites.front_default}}">
    <h3>Name: {{my_data4.name}}</h3>
    <img src="{{my_data4.sprites.front_default}}">
    <h3>Name: {{my_data5.name}}</h3>
    <img src="{{my_data5.sprites.front_default}}">
    <h3>Name: {{my_data6.name}}</h3>
    <img src="{{my_data6.sprites.front_default}}">
</div>
